<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--测试用-->
    <bean id="date" class="java.util.Date"/>
    <bean id="baseService" class="cn.it.shop.service.impl.BaseServiceImpl" lazy-init="true">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="categoryService" class="cn.it.shop.service.impl.CategoryServiceImpl" parent="baseService"/>
    <bean id="accountService" class="cn.it.shop.service.impl.AccountServiceImpl" parent="baseService"/>
</beans>