<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        1.搭建spring配置文件
            1.1 建立date bean
            1.2 junit测试spring
        2.搭建hibernate配置文件
    -->
    <bean id="date" class="java.util.Date"/>
</beans>